
.profilcontainer {
width: 60%;
background-color: #f5f5f5;
display: block;
margin: auto;
margin-top: 5%;
}

.savePersonal{
  float: right;
  bottom: 10px;
  margin-top: 70%;
}

.deleteAccount {
  float: right;
  margin-top: 80%;
}

.createAssignment{
  float: right;
  margin-bottom: 2%;
}

.nav-wrapper {
	background-color: #000000;
	color: #FF0998;
}

.text-element{
	color: #FF0988;
}

.brand-logo.text-element {
	color: #FF0998;
}

.btn {
	background-color: #FF0988 !important;
}

.btn:hover {
	background-color: #FF0988 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
 color: #FF0988 !important;
}

/* label underline focus color */
    .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #FF0988 !important;
     box-shadow: 0 1px 0 0 #FF0988 !important;
    }

/* Radio button inner+ Border*/
    [type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
        background-color: #FF0988 !important;
        border-color: #FF0988 !important;
    }

@media screen and (max-width: 1024px) {
      .col {
        width : 100% !important;
      }
    }
