#main-container {
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 5%;
}

#main-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#description {
	padding: 2%;
	text-align: center;
}

h3,h4{
	color: #FF0988;
}

#heading {
	text-align: center;
}

.showcase {
	width: 70%;
	margin: 8%;
}

.showcase-content{
  text-decoration: none;
	display:table;
	margin:0 auto;
}

.nav-wrapper {
	background-color: #000000;
	color: #FF0998;
}

.text-element{
	color: #FF0988;
}

.brand-logo.text-element {
	color: #FF0998;
}

.card {
	background-color: #FF0988;
}

@media screen and (max-width: 1024px) {
      .col {
        width : 100% !important;
      }
     .showcase {
	width: 70%;
	margin: auto;
}
    }
