
#login-container {
width: 40%;
background-color: #f5f5f5;
display: block;
margin: auto;
margin-top: 5%;
}

#login-logo {
	display:block;
	margin:auto;
	margin-left: auto;
}

.acceptAGB {
	margin: auto;
	text-align: center;
}

.registerBTN {
	margin: auto;
}

.confirm{
	margin: auto;
}

.confirmMessage {
	margin-left: auto;
	text-align: center;
}
