
#contact-container {
width: 80%;
display: block;
margin: auto;
margin-top: 5%;
}

#login-logo {
	display:block;
	margin:auto;
	margin-left: auto;
}

#contact-left{
	float: left;
	width: 60%;
}

#contact-right{
	float: right;
	width: 40%;
	padding: 10%;
}

.nav-wrapper {
	background-color: #000000;
	color: #FF0998;
}

.text-element{
	color: #FF0988;
}

.brand-logo.text-element {
	color: #FF0998;
}
