
#login-container {
width: 40%;
display: block;
margin: auto;
margin-top: 5%;
}

#login-logo {
	display:block;
	margin:auto;
	margin-left: auto;
}

.loginBTN{
	display: block;
	margin: auto;
	margin-top: 2%;
	text-align: center;
	background-color: #FF0988;
}

.loginBTN:hover{
	background-color: #FF0988;
}

.nav-wrapper {
	background-color: #000000;
	color: #FF0998;
}

.text-element{
	color: #FF0988;
}

.brand-logo.text-element {
	color: #FF0998;
}

.forgotLink{
	text-align: center;
}

.registerLink {
	text-align: center;
}

.btn {
	background-color: #FF0988 !important;
}

.btn:hover {
	background-color: #FF0988 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
 color: #FF0988 !important;
}

/* label underline focus color */
    .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #FF0988 !important;
     box-shadow: 0 1px 0 0 #FF0988 !important;
    }
